parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
        - src/Domain/Repository/RepositoryInterface.php
        - src/Infrastructure/Repository/AbstractRepository.php

    # Symfony specific configuration
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
